

<div class='row generalpage'>
<!-- left row cards -->
    <div class='col s3'>
    <!-- Link To Meditation Page -->
      <div class="card z-depth-5">
          <div class="card-image">
            <img src="/img/Buddha.jpg">
            <span class="card-title">Meditation</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red" ng-click="toMeditationPage()"><i class="material-icons">navigation</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
      </div>
      <!-- Link To Coaching Page -->
      <div class="card z-depth-5">
          <div class="card-image">
            <img src="/img/Kenya_CentralSamburu_SasaabSamburuWarrior.jpg">
            <span class="card-title">Guidance</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red" ng-click="toCoachingPage()"><i class="small material-icons">navigation</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
      </div>
    </div>
    <!-- end of left column cards -->

    <!-- center display -->
    <a href="/?#/user"><i class="large material-icons">perm_identity</i></a>
    <div class='col s5 verticalLine'></div>
    <!-- end of center display -->

    <!-- right column cards -->
    <div class='col s3'>
    <!-- Link To LifeStyle Page -->
      <div class="card east z-depth-5">
          <div class="card-image">
            <img src="/img/healthy_lifestyle_concept_with_diet_and_fitness_cg1p19826488c_th.jpg">
            <span class="card-title ">Life Style</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red" ng-click="toLifeStylePage()"><i class="material-icons">navigation</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
      </div>
      <!-- Link To Community Page -->
      <div class="card east z-depth-5">
          <div class="card-image">
            <img src="/img/volunteers.jpg">
            <span class="card-title">Community</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red" ng-click="toCommunityPage()"><i class="material-icons">navigation</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
      </div>
    </div>
    <!-- end of right column cards -->
</div>
