

<a ng-click="login()" class="waves-effect waves-light btn" data-target="modal2">button</a>
<div class="parallax-container">
      <div class="parallax"><img src="/img/capstonebackground.jpg"></div>
    </div>
 <div id="modal2" class="modal login">
    <div class="row valign-wrapper inlineLogin">
        <form class="col s10">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <a class="left waves-effect waves-light btn">LOGIN</a><a class="right waves-effect waves-light btn">Register</a>
        </form>
      </div>

  </div>
