
<h2 class="description">Still Waters Meditation</h2>
<div class="row">
<div class="resources col s6">
  <div ng-repeat="book in books.Meditation" class="card fixed">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{book.img}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{book.title}}<i class="material-icons right">more_vert</i></span>
      <p><a href="{{book.url}}">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>

<!-- separating line between text and scrollable -->
<div class="verticalLine col s6">

<p>I wander what this looks like</p>
</div>
</div>
