<div class="container">
  <div class="row">
  <!-- Load user saved interest -->
    <div class="interest">
    </div>
    <!-- Journal Log -->
    <div class="journal">
      <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
    </div>
  </div>
  <!-- Goal tracker for user -->
  <div class="stats">
    <canvas id="doughnut" class="chart chart-doughnut"
      chart-data="data" chart-labels="labels">
    </canvas> 
  </div>
</div>
