.col {
  height: 800px;
}

/*.card {
  margin-top: 100px;
}*/


.resources {
  max-height: 1000px;
  max-width: 400px;
  overflow: auto;
}

.verticalLine {
  backgroud-color: black;
  height: 800px;
  border-left: solid grey;
  border-left-width: .1px;
  min-height: 500px;
  margin-right: auto;
  border-right: solid grey;
  border-right-width: .1px;
  border-top: solid grey;
  border-top-width: .1px;
  border-bottom: solid grey;
  border-bottom-width: .1px;
}

.fixed {
  margin-left: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.interest {
  border: .1px solid grey;
  min-height: 300px;
  min-width: 500px;
  margin-top: 20px;
}

/*.frame {
  border: .1px solid grey;
  min-height: 200px;
  min-width: 300px;
  margin-top: 20px;
}*/

.journal {
  border: .1px solid grey;
  min-height: 300px;
  min-width: 500px;
  margin-top: 100px;
}

.journalButton {
  margin-top: 70px;
}


.stats {
  border: .1px solid grey;
  height: 770px;
  width: 500px;
  margin-top: 20px;
}
